/* roboto-100italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/roboto-v30-cyrillic_latin-100italic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-cyrillic_latin-100italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic_latin-100italic.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-100italic.woff") format("woff"), url("../fonts/roboto-v30-cyrillic_latin-100italic.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic_latin-100italic.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-300 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v30-cyrillic_latin-300.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-cyrillic_latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic_latin-300.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-300.woff") format("woff"), url("../fonts/roboto-v30-cyrillic_latin-300.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic_latin-300.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-300italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/roboto-v30-cyrillic_latin-300italic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-cyrillic_latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic_latin-300italic.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-300italic.woff") format("woff"), url("../fonts/roboto-v30-cyrillic_latin-300italic.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic_latin-300italic.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-regular.woff") format("woff"), url("../fonts/roboto-v30-cyrillic_latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic_latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic_latin-italic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-cyrillic_latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic_latin-italic.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-italic.woff") format("woff"), url("../fonts/roboto-v30-cyrillic_latin-italic.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic_latin-italic.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-cyrillic_latin-500.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-cyrillic_latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic_latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-500.woff") format("woff"), url("../fonts/roboto-v30-cyrillic_latin-500.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic_latin-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/roboto-v30-cyrillic_latin-500italic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-cyrillic_latin-500italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic_latin-500italic.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-500italic.woff") format("woff"), url("../fonts/roboto-v30-cyrillic_latin-500italic.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic_latin-500italic.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic_latin-700.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-cyrillic_latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-700.woff") format("woff"), url("../fonts/roboto-v30-cyrillic_latin-700.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic_latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic_latin-700italic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-cyrillic_latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic_latin-700italic.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-700italic.woff") format("woff"), url("../fonts/roboto-v30-cyrillic_latin-700italic.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic_latin-700italic.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-cyrillic_latin-900.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-cyrillic_latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic_latin-900.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-900.woff") format("woff"), url("../fonts/roboto-v30-cyrillic_latin-900.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic_latin-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/roboto-v30-cyrillic_latin-900italic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-cyrillic_latin-900italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic_latin-900italic.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-900italic.woff") format("woff"), url("../fonts/roboto-v30-cyrillic_latin-900italic.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic_latin-900italic.svg#Roboto") format("svg"); /* Legacy iOS */
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  font-family: Roboto;
}

ol, ul {
  list-style: none;
}

.header__search-input, .header__label, .header__login-link {
  font-size: 1.1rem;
  color: black;
  font-family: roboto;
  font-weight: 300;
  line-height: 1.6rem;
}

.header__link {
  font-size: 1.2rem;
  color: white;
  font-family: roboto;
  font-weight: 600;
}

.header {
  overflow: hidden;
  background-color: black;
}

.header__navigation {
  display: flex;
  width: 60%;
  max-width: 800px;
  flex-direction: column;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__links {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.header__links--underline {
  width: 70%;
}

.header__link {
  transition: 0.5s;
}
.header__link:hover {
  transition: 0.5s;
  border-bottom: 1px white solid;
}

.header__search {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.header__search-input {
  width: 250px;
  background: none;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  transition: 0.5s;
  height: 20px;
}
.header__search-input::-ms-value {
  padding: 0;
}
.header__search-input::-moz-placeholder {
  -moz-user-select: none;
       user-select: none;
  color: white;
  transform: translate(-1px, 0);
  -moz-transition: 0.5s;
  transition: 0.5s;
  overflow: visible;
}
.header__search-input::placeholder {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: white;
  transform: translate(-1px, 0);
  transition: 0.5s;
  overflow: visible;
}
.header__search-input:focus::-moz-placeholder {
  -moz-user-select: none;
       user-select: none;
  display: block;
  color: transparent;
  font-size: 0.8rem;
  transform: translate(0, -22px);
  overflow: visible;
}
.header__search-input:focus::placeholder {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: block;
  color: transparent;
  font-size: 0.8rem;
  transform: translate(0, -22px);
  overflow: visible;
}
.header__search-input:focus {
  border-color: #FF4433;
  outline: none;
}
.header__search-input:focus ~ .header__label {
  color: #FF4433;
  transform: translate(56px, -22px);
  font-size: 0.8rem;
}

.header__label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: text;
  position: absolute;
  transform: translate(56px, -2px);
  transition: 0.5s;
  color: transparent;
  display: block;
}

.header__login {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__login-button, .header__search-button {
  cursor: pointer;
  background: none;
  border: none;
  width: 45px;
  margin-right: 10px;
}

.header__login-icon, .header__search-icon {
  width: 100%;
}

.header__login-link {
  color: white;
  margin-right: 10px;
}
.header__login-link:hover {
  border-bottom: 1px solid white;
  transform: translateY(1px);
}

.promo__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
  color: white;
  position: absolute;
  z-index: -999;
  font-family: Roboto;
  font-style: italic;
}

.promo__header {
  font-size: 4.25rem;
  text-align: center;
  margin-bottom: 10px;
}

.promo__paragraph {
  font-size: 1.6rem;
  text-align: center;
}

.promo__background {
  mix-blend-mode: color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-height: 105vh;
}

.promo__tile {
  transition: 0.5s;
  overflow: hidden;
  background-color: black;
}

.promo__image {
  transition: 1s;
  width: 120%;
  opacity: 30%;
  transform: translate(-15%, 0);
}
.promo__image:hover {
  opacity: 100%;
}

.promo__info {
  color: white;
  background-color: black;
  animation: info-coloring 1s linear both;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * 1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes info-coloring {
  to {
    background-color: #BCBEC0;
    color: black;
  }
}
.promo__info-text {
  font-family: roboto;
  font-size: 1.3rem;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 150px;
}

.benefits {
  width: 100%;
  overflow: hidden;
}

.benefits__banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  overflow: hidden;
  align-items: center;
}

.benefits__wrapper {
  overflow: hidden;
}

.benefits__header, .plan__banner-heading {
  width: 100%;
  text-align: center;
  font-family: Roboto;
  font-size: 2.15rem;
  color: white;
  position: absolute;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0 auto;
}

.benefits__background {
  width: 100%;
  max-height: 600px;
  overflow: hidden;
}

.benefits__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
}

.benefits__list, .plan__list {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 150px;
}

.benefit, .plan__item {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 60px;
  width: 80%;
}

.benefit__marker {
  margin-right: 40px;
  position: relative;
}

.benefit__text, .plan__text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.benefit__heading, .plan__heading {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.benefit__paragraph, .plan__paragraph {
  font-size: 1rem;
  line-height: 1.7rem;
  font-weight: 200;
}

.plan {
  width: 100%;
}

.plan__banner {
  width: 100%;
  display: flex;
  align-items: center;
}

.plan__background {
  width: 100%;
  max-height: 600px;
  overflow: hidden;
  background-color: black;
}

.plan__banner-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 60%;
}

.plan__item {
  display: flex;
}
.plan__item:before {
  content: attr(data-before);
  border: 2px solid #000000;
  border-radius: 100%;
  display: inline-block;
  padding: 0.8rem 1.1rem 0.8rem 1.1rem;
  margin-right: 40px;
  transform: translate(0, -0.7rem);
}

.plan {
  overflow: hidden;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
}

.plan__list {
  margin-bottom: 0;
}

.plan__button {
  cursor: pointer;
  margin: 0 auto;
  padding: 20px 80px 20px 80px;
  border-radius: 100px;
  border: none;
  font-family: Roboto;
  font-weight: 600;
  color: white;
  background-color: #460000;
  transition: 0.5s;
}
.plan__button:hover {
  background-color: #5a0000;
}
.plan__button:active {
  background-color: #3a0000;
}

.subscribe {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #BCBEC0;
}

.subscribe__form {
  padding-top: 120px;
  padding-bottom: 100px;
  width: 60%;
  margin: 0 auto;
  font-family: Roboto;
  text-align: center;
}

.subscribe__heading {
  font-size: 1.9rem;
  margin-bottom: 40px;
}

.subscribe__text {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.2rem;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.subscribe__inputs {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subscribe__input {
  width: 65%;
  padding: 0;
  font-size: 1rem;
  padding-left: 30px;
}

.subscribe__button {
  cursor: pointer;
  height: 60px;
  width: 25%;
  background-color: black;
  border: none;
  color: white;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
}

.courses__promo {
  height: 110vh;
  display: flex;
  align-items: center;
}

.courses__image-wrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: black;
  mix-blend-mode: color;
}

.courses__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 120%;
  height: 100%;
  transition: 0.5s;
  opacity: 50%;
  transform: translate(-7%, 0);
}

.courses__heading {
  position: absolute;
  color: white;
  font-size: 4.5rem;
  text-align: center;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: -1;
}

.courses__subheading {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 3rem;
}

.courses__wrapper {
  background-color: #F0F0F0;
  width: 100%;
}

.courses__list {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.courses__course {
  background-color: white;
  max-width: 80%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 4px 4px 30px -12px rgba(34, 60, 80, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.course__list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  width: 85%;
  margin-bottom: 200px;
}

.course__item {
  list-style: disc inside none;
  display: list-item;
  width: 100%;
  color: #777777;
  font-weight: 300;
  line-height: 2rem;
}
.course__item::marker {
  color: #777777;
}

.course__heading {
  text-align: center;
  font-size: 1.4rem;
  width: 80%;
  margin: 40px auto;
}

.course__image {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

.course__bottom-content {
  bottom: 50px;
  position: absolute;
}

.course__price {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}

.course__button {
  background-color: black;
  color: white;
  margin: 0 auto;
  width: 200px;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.scroll {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  background-color: black;
  opacity: 0%;
  z-index: 100;
  transition: 0.5s;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.scroll--visible {
  visibility: visible;
  opacity: 100%;
}

.scroll__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.scroll__image {
  margin: 0 auto;
  width: 70%;
  height: 70%;
}

.footer {
  background-color: black;
  color: white;
  font-family: Roboto;
  text-align: center;
}

.footer__wrapper {
  width: 50%;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer__heading {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.footer__text {
  font-size: 1.4rem;
  font-weight: 300;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.footer__contacts {
  font-weight: 500;
  margin-bottom: 40px;
}

.footer__addres {
  margin-bottom: 40px;
  font-weight: 300;
}

.footer__image {
  width: 45px;
}

.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  max-width: 200px;
  margin: 0 auto;
}

.classes__list {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.class {
  margin: 30px;
  padding: 30px;
  background-color: white;
  box-shadow: 4px 4px 30px -12px rgba(34, 60, 80, 0.2);
}

.class__time {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 40px;
}

.class__heading {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.class__item {
  margin-bottom: 15px;
  color: #646464;
}

.class__link {
  color: black;
  text-decoration: underline;
}
.class__link:hover {
  color: #FF4433;
}

.class__tile {
  transition: 0.5s;
  overflow: hidden;
  background-color: black;
}

.class__background {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
  height: 50vh;
  width: 100%;
}

.class__image {
  transition: 1s;
  width: 120%;
  opacity: 30%;
  transform: translate(-15%, 0);
}
.class__image:hover {
  opacity: 100%;
}

.class__info-wrapper {
  padding-top: 150px;
  background-color: #F2F2F2;
}

.info__wrapper {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 150px;
}

.class__info-heading {
  font-size: 2.6rem;
  margin-bottom: 50px;
}

.class__info-time {
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 90px;
}

.class__info-text {
  font-size: 1.3rem;
  font-weight: 200;
}

.class__form-wrapper {
  background-color: #F2F2F2;
  padding-bottom: 150px;
}

.class__form {
  width: 80%;
  margin: 0 auto;
}

.class__form-heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 60px;
}

.class__form-text {
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 70px;
}

.class__form-inputs {
  display: flex;
  flex-direction: row;
}

.class__form-input {
  background-color: transparent;
  border: none;
  width: 350px;
  border-bottom: solid 2px #ADADAD;
  margin-right: 40px;
  font-size: 1.5rem;
}
.class__form-input:focus {
  outline: none;
}

.class__form-button {
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 20px;
  border-radius: 50px;
}

.programms__wrapper {
  width: 40%;
  margin: 0 auto;
  margin-top: 150px;
}

.programm {
  margin-bottom: 130px;
}

.programm__heading {
  font-size: 3rem;
  margin-bottom: 50px;
  text-align: center;
}

.programm__image {
  width: 100%;
  margin-bottom: 40px;
}

.programm__subheading {
  margin-bottom: 20px;
}

.programm__list {
  list-style-type: disc;
}

.programm__item {
  color: rgb(36, 36, 36);
  font-weight: 100;
  margin-bottom: 20px;
}

.login {
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.login-form {
  margin-top: 100px;
}/*# sourceMappingURL=style.css.map */